{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'accouts/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</div>
<!--nav end -->

<!--card start -->
<div class="container">
    <div class="row">
        {% if books %}

            {% for book in books %}

                <div class="col-md-3 product-grid">
                    {% if book.book_image %}

                        <img src="{{ book.book_image.url }}" class="image" width="200" height="250" alt="...">
                    {% else %}
                        <h2>There is no image</h2>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ book.book_title }}</h5>
                        <p class="card-text">{{ book.book_author }}</p>
                        <div class="detail_btn">
                            <button class="btn details btn-block" type="submit"><a href="{% url 'details' book.id %}"
                                                                                   class="details">Details</a>
                            </button>
                        </div>
                    </div>

                </div>
            {% endfor %}
        {% endif %}

        <!--<div class="col-md-3 product-grid">

            <img src="" class="imge" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Author</p>
                <div class="detail_btn">
                    <button class="btn details btn-block" type="submit">Details</button>
                </div>
            </div>

        </div>

        <div class="col-md-3 col-sm-3 product-grid">

            <img src="images/bookcover_3.jpg" class="imge" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Author</p>
                <div class="detail_btn">
                    <button class="btn details btn-block" type="submit">Details</button>
                </div>
            </div>

        </div>

        <div class="col-md-3 product-grid">

            <img src="images/bookcover_4.jpg" class="imge" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Author</p>
                <div class="detail_btn">
                    <button class="btn details btn-block" type="submit">Details</button>
                </div>
            </div>

        </div>

        <div class="col-md-3 product-grid">

            <img src="images/bookcover_5.jpg" class="imge" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Author</p>
                <div class="detail_btn">
                    <button class="btn details btn-block" type="submit">Details</button>
                </div>
            </div>

        </div>

        <div class="col-md-3 product-grid">

            <img src="images/bookcover_6.jpg" class="imge" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Author</p>
                <div class="detail_btn">
                    <button class="btn details btn-block" type="submit">Details</button>
                </div>
            </div>

        </div>
        <div class="col-md-3 product-grid">
<!--class="w-100"
            <img src="images/bookcover_7.jpg" class="imge" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Author</p>
                <div class="detail_btn">
                    <button class="btn details btn-block" type="submit">Details</button>
                </div>
            </div>

        </div>

        <div class="col-md-3 product-grid">

            <img src="images/bookcover_8.jpg" class="imge" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Author</p>
                <div class="detail_btn">
                    <button class="btn details btn-block" type="submit">Details</button>
                </div>
            </div>

        </div>


    </div>
</div>



<!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
</body>
</html>